.flex.flex-col
  .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8.pl-20.pr-20.mt-10
    .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
      .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
        %table.min-w-full.divide-y.divide-gray-200
          %thead.bg-gray-50
            %tr
              %th.px-4.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider.whitespace-nowrap{:scope => "col"} タイトル
              %th.px-4.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider.whitespace-nowrap{:scope => "col"} 内容
              %th.relative.px-4.py-3{:scope => "col"}
                %span.sr-only Edit
          %tbody.bg-white.divide-y.divide-gray-200
            %tr
              %td.px-4.py-4
                .flex.items-center
                  .text-sm.font-medium.text-gray-900 内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト
              %td.px-4.py-4
                .text-sm.text-gray-900 内容テキスト、内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト内容テキスト
              %td.px-6.py-4.whitespace-nowrap.text-right.text-sm.font-medium
                %a.text-indigo-600.hover:text-indigo-900{:href => "#"} 編集する
