%div
  %form{:action => "/memos", :method => "POST"}
    .shadow.sm:rounded-md.sm:overflow-hidden
      .px-4.py-5.bg-white.space-y-6.sm:p-6
        .grid.grid-cols-3.gap-6
          .col-span-3.sm:col-span-2
            %label.block.text-sm.font-medium.text-gray-700{:for => "company-website"} タイトル
            .mt-1.flex.rounded-md.shadow-sm
              %input#company-website.focus:ring-indigo-500.focus:border-indigo-500.flex-1.block.w-full.rounded-none.rounded-r-md.sm:text-sm.border.border-gray-300.p-2{:name => "title", :type => "text"}/
        %div
          %label.block.text-sm.font-medium.text-gray-700{:for => "about"} 内容
          .mt-1
            %textarea#about.shadow-sm.focus:ring-indigo-500.focus:border-indigo-500.mt-1.block.w-full.sm:text-sm.border.border-gray-300.rounded-md.p-2{:name => "content", :rows => "10"}
          %div
            %button.mt-4.py-4.px-6.bg-gray-800.inline-block.text-white.rounded-lg{ :type => 'submit' } 保存する
